.container {
    width: 350px;
    height: 500px;
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item {
    width: 100px;
    height: 100px;
    background-color: red;
    border: 1px solid black;

}